@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: "DM Sans", sans-serif;
}
a {
  /* color: #5272ea; */
}
a:hover {
  /* color: #5273eae5; */
}
.bg-gradient {
  /* background: linear-gradient(317.04deg, #b588f7 2.52%, #1de5e2 97.53%); */
  background: linear-gradient(137.67deg, #B588F7 2.24%, #1DE5E2 97.84%);

  /* background: linear-gradient(297.26deg, #B588F7 13.79%, #077AB2 36.71%, #457032 52.7%, #8343CC 69.05%, #1DE5E2 86.45%); */
}



.auth-card {
  background: linear-gradient(33.29deg, #ffffff -26.19%, #d8f2f8 162.87%);
  box-shadow: 8px -2px 12.7px 0px #00000040;
}
.bg-gray-200 {
  background-color: #e2e8f0;
}

.connected {
  background-color: #4ade80; /* Change to a lively color */
}

.hero-bg {
  background-image: url("../src//assets//hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.focus-visible\:ring-ring:focus-visible {
  --tw-ring-color: unset !important;
  --tw-ring-offset-width: 0 !important;
}

.linkedin-cont {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.border-gradient {
  border: 3px solid;
  border-image-source: linear-gradient(125.5deg, #60BEE2 15.51%, #5E4D84 27.16%, #C05B95 38.82%, #8559AD 50.48%, #DCAF72 62.13%, #BE5AB6 73.79%, #8FC2DA 85.31%);
  
  
}
.text-gradient {
  background: linear-gradient(114.91deg, #60BEE2 4.6%, #5E4D84 18.1%, #C05B95 31.6%, #8559AD 45.11%, #DCAF72 58.61%, #BE5AB6 72.11%, #8FC2DA 85.45%);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-flex;
}
.text-gradient:hover {
  background: none;
  background-clip: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: #fff;
  display: flex;
  color: #fff;
}
.border-gradient:hover {
  background: linear-gradient(80.62deg, #60BEE2 4.15%, #60BEE2 4.15%, #5E4D84 20.3%, #C05B95 35.49%, #8559AD 51.2%, #DCAF72 67.25%, #BE5AB6 80.91%, #8FC2D4 95.85%);

}

.button-wrapper {
  position: relative;
}




.button-bg {
  padding: 3px 4px;
  background: linear-gradient(125.5deg, #60BEE2 15.51%, #5E4D84 27.16%, #C05B95 38.82%, #8559AD 50.48%, #DCAF72 62.13%, #BE5AB6 73.79%, #8FC2DA 85.31%);
  background-size: 600% 600%;
  border-radius: 50px;
  animation: AnimateBorder 16s ease infinite;
  -webkit-animation: AnimateBorder 16s ease infinite;
  -moz-animation: AnimateBorder 16s ease infinite;
  z-index: -1;
}




@-webkit-keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimateBorder {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




.gradients-button {
  padding: 4px 24px;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease;
}

/* Add the gradient border using a pseudo-element */
.gradients-button::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(125.5deg, #60BEE2 15.51%, #5E4D84 27.16%, #C05B95 38.82%, #8559AD 50.48%, #DCAF72 62.13%, #BE5AB6 73.79%, #8FC2DA 85.31%);
  z-index: -1;
  border-radius: inherit;
}

/* Hover effect to animate the background and border */
.gradients-button:hover {
  color: white;
  background: linear-gradient(125.5deg, #60BEE2 15.51%, #5E4D84 27.16%, #C05B95 38.82%, #8559AD 50.48%, #DCAF72 62.13%, #BE5AB6 73.79%, #8FC2DA 85.31%);
  animation: anime 16s linear infinite;
}







/* Gradient animation */
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.recruiter-gradient {
  background: linear-gradient(90deg, #5272ea, #2e4084);
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate-slideIn {
  animation: slideIn 1.5s ease-in-out forwards;
}
.animate-button {
  animation: anime 16s linear infinite!important;
}

.animate-slideOut {
  animation: slideOut 1s ease-in-out forwards;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d9d9d9ef;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #D9D9D9;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent !important;
}

/* For Firefox */
.custom-scrollbar::-moz-scrollbar {
  width: 8px;
}
.custom-scrollbar::-moz-scrollbar-thumb {
  background-color: #d9d9d9ef !important;
  border-radius: 5px;
}

.custom-scrollbar::-moz-scrollbar-thumb:hover {
  background-color: #d9d9d9;
}
.custom-scrollbar::-moz-scrollbar-track {
  background-color: transparent !important;
}

:focus-visible {
  outline: none !important;
}
