@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: "DM Sans", sans-serif;
}
a {
  /* color: #5272ea; */
}
a:hover {
  /* color: #5273eae5; */
}
.bg-gradient {
  /* background: linear-gradient(317.04deg, #b588f7 2.52%, #1de5e2 97.53%); */
  background: linear-gradient(137.67deg, #B588F7 2.24%, #1DE5E2 97.84%);

  /* background: linear-gradient(297.26deg, #B588F7 13.79%, #077AB2 36.71%, #457032 52.7%, #8343CC 69.05%, #1DE5E2 86.45%); */
}
.auth-card {
  background: linear-gradient(33.29deg, #ffffff -26.19%, #d8f2f8 162.87%);
  box-shadow: 8px -2px 12.7px 0px #00000040;
}
.bg-gray-200 {
  background-color: #e2e8f0;
}

.connected {
  background-color: #4ade80; /* Change to a lively color */
}

.hero-bg {
  background-image: url("../src//assets//hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.focus-visible\:ring-ring:focus-visible {
  --tw-ring-color: unset !important;
  --tw-ring-offset-width: 0 !important;
}

.linkedin-cont {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.recruiter-gradient {
  background: linear-gradient(90deg, #5272ea, #2e4084);
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate-slideIn {
  animation: slideIn 1.5s ease-in-out forwards;
}

.animate-slideOut {
  animation: slideOut 1s ease-in-out forwards;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d9d9d9ef;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #D9D9D9;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent !important;
}

/* For Firefox */
.custom-scrollbar::-moz-scrollbar {
  width: 8px;
}
.custom-scrollbar::-moz-scrollbar-thumb {
  background-color: #d9d9d9ef !important;
  border-radius: 5px;
}

.custom-scrollbar::-moz-scrollbar-thumb:hover {
  background-color: #d9d9d9;
}
.custom-scrollbar::-moz-scrollbar-track {
  background-color: transparent !important;
}
